In [1]:
import numpy as np
import pandas as pd

**#creating series**

In [ ]:
s=pd.Series([1,3,5,7]) #we can use like ([1,3,5,7,"apple"])
print(s) #displays the series

0    1
1    3
2    5
3    7
dtype: int64

**#COMMON METHODS OF SERIES**

**descriptive stastics:-**

In [ ]:
#s.describe():- quick summary of data
s=pd.Series([1,3,5,7,9])
print(s.describe())

In [6]:
#s.mean():-computes mean of the data
print(s.mean())

5.0

In [7]:
#s.std():-computes the standard deviation
print(s.std())

3.1622776601683795

In [8]:
#s.min() and s.max():-Comput the minimum and maximum values
print(s.min())
print(s.max())

1
9

**Data Manipulation**

In [20]:
#s.map(func): Applies a function to each element in the Series.
doubled = s.map(lambda x: x * 2)
print(doubled)

0    20
1    30
2    40
3    50
dtype: int64

In [21]:
#s.apply(func): Similar to map, but more flexible. 
sqrt = s.apply(lambda x: x ** 0.5)
print(sqrt)

0    3.162278
1    3.872983
2    4.472136
3    5.000000
dtype: float64

In [24]:
x = pd.Series([10, 15, 20, 25])

result = x.apply(lambda x: "Even" if x % 2 == 0 else "Odd")
print(result)

0    Even
1     Odd
2    Even
3     Odd
dtype: object

In [25]:
#s.sort_values(): Sorts the Series.
s=pd.Series([1,3,5,7])
sorted_s = s.sort_values()
print(sorted_s)

0    1
1    3
2    5
3    7
dtype: int64

In [28]:
#s.drop(labels): Drops specified labels from the Series.
dropped=s.drop(1)
print(dropped)
print(s)

0    1
2    5
3    7
dtype: int64
0    1
1    3
2    5
3    7
dtype: int64

**#Handling Missing Data**

In [30]:
#s.isnull():-Checks for missing values,returns a series of booleans
print(s.isnull())

0    False
1    False
2    False
3    False
dtype: bool

In [31]:
#s.notnull():Opposite of isnull()
print(s.notnull())

0    True
1    True
2    True
3    True
dtype: bool

In [35]:
#s.fillna(value):-filling missing values
s=pd.Series([1,2,np.nan,4,np.nan])
print(s)
filled=s.fillna(5)
print(filled)

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64
0    1.0
1    2.0
2    5.0
3    4.0
4    5.0
dtype: float64

In [36]:
#s.dropna():-drops all rows that contain missing values
s_missing=pd.Series([1,2,None,4,5])
dropping_missing=s_missing.dropna()
print(dropping_missing)

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

**#Indexing,Slicing,Filtering**

In [38]:
#s.iloc[]:-integer-location based indexing.(indexing by position)
s=pd.Series([1,3,5,7,9])
print(s.iloc[0])
print(s.iloc[-2])

1
7

In [41]:
#s.loc[]:-Labeled-based indexing
print(s.loc[0])
print(s.loc[3])

1
7

In [46]:
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(s)
#Accessing using iloc
print(s.iloc[0])
print(s.iloc[1:3])
#accessing using loc
print(s.loc["a"])
print(s.loc["b":"c"])

a    10
b    20
c    30
d    40
dtype: int64
10
b    20
c    30
dtype: int64
10
b    20
c    30
dtype: int64

In [48]:
#s[s>n]:-returns greater than n
filtered=s[s>20]
print(filtered)

c    30
d    40
dtype: int64

**#Aggregation:-**

In [49]:
#s.sum():sums up the values
print(s.sum())

100

In [51]:
#s.cumsum():cummulative sum
print(s)
print(s.cumsum())

a    10
b    20
c    30
d    40
dtype: int64
a     10
b     30
c     60
d    100
dtype: int64

In [53]:
#s.aggregate(func):using more than one operations like sum,mean,std
aggregated=s.aggregate(['sum','mean','std'])
print(aggregated)

sum     100.000000
mean     25.000000
std      12.909944
dtype: float64

**#DARAFRAME:---**

In [55]:
#defining data
data = {
    'Name': ['A','B','C','D','E','F'],
    'Role': ['founder','ceo','manager','salesman','designer','manager'],
    'Phone Number': ['111-111-1111', '222-222-2222', '333-333-3333', '444-444-4444',
                     '555-555-5555', '666-666-6666'],
    'Email': ['aa@gmail.com','bb@gmail.com','cc@gmail.com','dd@gmail.com','ee@gmail.com','ff@gmail.com'],
    'Address': ['hyderabad','kukatpally','Lb Nagar','sanathnagar','ahmedabad','secunderabad'],
    'Blood Group': ['A+', 'B-', 'O+', 'AB+', 'A-', 'B+']
}
#creating
df=pd.DataFrame(data)
#displaying
df.head()

  Name      Role  Phone Number         Email      Address Blood Group
0    A   founder  111-111-1111  aa@gmail.com    hyderabad          A+
1    B       ceo  222-222-2222  bb@gmail.com   kukatpally          B-
2    C   manager  333-333-3333  cc@gmail.com     Lb Nagar          O+
3    D  salesman  444-444-4444  dd@gmail.com  sanathnagar         AB+
4    E  designer  555-555-5555  ee@gmail.com    ahmedabad          A-

In [56]:
df

  Name      Role  Phone Number         Email       Address Blood Group
0    A   founder  111-111-1111  aa@gmail.com     hyderabad          A+
1    B       ceo  222-222-2222  bb@gmail.com    kukatpally          B-
2    C   manager  333-333-3333  cc@gmail.com      Lb Nagar          O+
3    D  salesman  444-444-4444  dd@gmail.com   sanathnagar         AB+
4    E  designer  555-555-5555  ee@gmail.com     ahmedabad          A-
5    F   manager  666-666-6666  ff@gmail.com  secunderabad          B+

**#merging data frames:-**

In [3]:
role_data={
    'Name':['A','B','C','D'],
    'Role':['founder','manager','it manager','salesman']
}
r_df=pd.DataFrame(role_data)
print(r_df)
contact_data={
    'Name':['A','B','C','D'],
    'phnno':['111-111-1111','222-222-2222','333-333-3333','444-444-4444'],
    'Email':['aa@gmail.com','bb@gmail.com','cc@gmail.com','dd@gmail.com']
    }
c_df=pd.DataFrame(contact_data)
print(c_df)

merged=pd.merge(r_df,c_df,on="Name")
print(merged)

  Name        Role
0    A     founder
1    B     manager
2    C  it manager
3    D    salesman
  Name         phnno         Email
0    A  111-111-1111  aa@gmail.com
1    B  222-222-2222  bb@gmail.com
2    C  333-333-3333  cc@gmail.com
3    D  444-444-4444  dd@gmail.com
  Name        Role         phnno         Email
0    A     founder  111-111-1111  aa@gmail.com
1    B     manager  222-222-2222  bb@gmail.com
2    C  it manager  333-333-3333  cc@gmail.com
3    D    salesman  444-444-4444  dd@gmail.com

**#IMPORTING DATASET:-**

In [9]:
df=pd.read_csv("filmtv_movies.csv")
df.head() #to get first n rows
df.head() #to get last n rows

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
0,2,Bugs Bunny's Third Movie: 1001 Rabbit Tales,1982,Animation,76,United States,"David Detiege, Art Davis, Bill Perez",NaN,7.7,8.00,7.0,22,"With two protruding front teeth, a slightly sl...","These are many small independent stories, whic...",3,3,0,0,0
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
2,17,Ride a Wild Pony,1976,Romantic,91,United States,Don Chaffey,"Michael Craig, John Meillon, Eva Griffith, Gra...",5.7,6.00,5.0,10,"In the Australia of the pioneers, a boy and a ...","""Ecological"" story with a happy ending, not wi...",1,2,1,0,0
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,15,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0

In [12]:
df.shape #to get no.of rows and columns)

(41399, 19)

In [14]:
df.columns # to get the list of all column names

Index(['filmtv_id', 'title', 'year', 'genre', 'duration', 'country',
       'directors', 'actors', 'avg_vote', 'critics_vote', 'public_vote',
       'total_votes', 'description', 'notes', 'humor', 'rhythm', 'effort',
       'tension', 'erotism'],
      dtype='object')

In [16]:
df.dtypes #to get all data types of each column

filmtv_id         int64
title            object
year              int64
genre            object
duration          int64
country          object
directors        object
actors           object
avg_vote        float64
critics_vote    float64
public_vote     float64
total_votes       int64
description      object
notes            object
humor             int64
rhythm            int64
effort            int64
tension           int64
erotism           int64
dtype: object

In [18]:
df.describe() #summary statistics for numerical columns

,filmtv_id,year,duration,avg_vote,critics_vote,public_vote,total_votes,humor,rhythm,effort,tension,erotism
count,41399.000000,41399.000000,41399.000000,41399.000000,36703.000000,41205.000000,41399.000000,41399.000000,41399.000000,41399.000000,41399.000000,41399.000000
mean,57746.410179,1993.505302,100.537163,5.801522,5.796077,5.924135,36.986763,0.577381,1.345347,0.684847,0.919153,0.309814
std,59962.095730,23.685612,27.260962,1.403861,1.593062,1.480112,69.386853,0.899402,1.154829,1.112334,1.095410,0.645930
min,2.000000,1897.000000,41.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15857.000000,1976.000000,90.000000,4.800000,4.670000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,36266.000000,2001.000000,96.000000,5.900000,6.000000,6.000000,12.000000,0.000000,2.000000,0.000000,0.000000,0.000000
75%,70935.000000,2013.000000,107.000000,6.900000,7.000000,7.000000,36.000000,1.000000,2.000000,1.000000,2.000000,0.000000
max,232920.000000,2023.000000,1525.000000,10.000000,10.000000,10.000000,1082.000000,5.000000,5.000000,5.000000,5.000000,5.000000

**#Accessing and Filtering:--**

| Feature          | `loc`                         | `iloc`                       |
| ---------------- | ----------------------------- | ---------------------------- |
| Selection type   | **Label-based**               | **Position-based**           |
| Uses             | Row/column **names (labels)** | Row/column **index numbers** |
| End index        | **Inclusive**                 | **Exclusive**                |
| Boolean indexing | ✅ Yes                         | ✅ Yes                        |
| Negative index   | ❌ Not allowed                 | ✅ Allowed                    |

In [20]:
#loc:-

In [19]:
#df.loc[]:-selecting all rows and a columns by label
title=df.loc[:,'title']
title

0        Bugs Bunny's Third Movie: 1001 Rabbit Tales
1                          18 anni tra una settimana
2                                   Ride a Wild Pony
3                                              Diner
4                    A che servono questi quattrini?
                            ...
41394                             Gold Digger Killer
41395                            Addio al nubilato 2
41396                                    Konferensen
41397                                      Ballelina
41398                      Invitación a un Asesinato
Name: title, Length: 41399, dtype: object

In [21]:
#selecting particular range of rows and multiple column sbu labels
subset=df.loc[10:30,['title','year']]
subset

                                   title  year
10             A Ghentar si muore facile  1968
11               Sleeping with the Enemy  1990
12                   In Bed With Madonna  1990
13                    Bowery at Midnight  1942
14  A mezzanotte va la ronda del piacere  1975
15                          Mr. Majestyk  1974
16                          Warning Sign  1985
17                      About Last Night  1986
18                             Fail-Safe  1964
19                      Some Like It Hot  1959
20                    A qualsiasi prezzo  1968
21                        Johnny O'Clock  1947
22                        Back to School  1986
23                    Driving Miss Daisy  1989
24                      Enid Is Sleeping  1989
25                         The Appaloosa  1966
26   ...a tutte le auto della polizia...  1975
27                 You'll Like My Mother  1973
28                   Abbasso la miseria!  1945
29                 Abbasso la ricchezza!  1946
30              Can You Feel Me Dancing?  1986

In [23]:
#conditional selection 
d=df.loc[df['genre']=='Comedy']
d

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
3,18,Diner,1982,Comedy,95,United States,Barry Levinson,"Mickey Rourke, Steve Guttenberg, Ellen Barkin,...",7.0,8.00,6.0,18,Five boys from Baltimore have a habit of meeti...,A cast of will be famous for Levinson's direct...,2,2,0,1,2
4,20,A che servono questi quattrini?,1942,Comedy,85,Italy,Esodo Pratelli,"Eduardo De Filippo, Peppino De Filippo, Clelia...",5.9,5.33,7.0,15,"With a stratagem, the penniless and somewhat p...",Taken from the play by Armando Curcio that the...,3,1,1,0,0
14,37,A mezzanotte va la ronda del piacere,1975,Comedy,100,Italy,Marcello Fondato,"Claudia Cardinale, Monica Vitti, Vittorio Gass...",5.8,5.73,6.0,58,"After yet another marital quarrel, Gino disapp...",The film represents an attempt to resurrect th...,3,3,2,2,2
17,47,About Last Night,1986,Comedy,113,United States,Edward Zwick,"Rob Lowe, Demi Moore, James Belushi, Elizabeth...",5.9,6.00,6.0,30,"Met by chance during a night out at a club, Da...",We don't know what's left in the script for Da...,2,3,1,1,0
19,51,Some Like It Hot,1959,Comedy,120,United States,Billy Wilder,"Tony Curtis, Jack Lemmon, Marilyn Monroe, Joe ...",9.1,9.38,9.0,558,Unintentional witnesses to the Valentine's Day...,Curtis and Lemmon in women's clothes who enter...,4,3,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41333,228189,CASH,2023,Comedy,95,France,Jérémie Rozan,"Raphaël Quenard, Igor Gotesman, Agathe Roussel...",4.8,4.50,5.0,8,"Chartres, not far from Paris. The Breuils, at ...",NaN,0,0,0,0,0
41341,228795,BDE,2023,Comedy,106,France,Michaël Youn,"Michaël Youn, Héléna Noguerra, Lucien Jean-Bap...",2.7,NaN,3.0,3,"Bob, Max, Vinz and Romane have become great fr...",NaN,0,0,0,0,0
41358,229813,Daaaaaali!,2023,Comedy,77,France,Quentin Dupieux,"Romain Duris, Pierre Niney, Gilles Lellouche, ...",6.4,5.50,7.0,7,A French journalist meets Salvador Dalì severa...,NaN,0,0,0,0,0
41374,229888,Vampire humaniste cherche suicidaire consentant,2023,Comedy,92,Canada,Ariane Louis-Seize,"Sara Montpetit, Félix-Antoine Bénard, Steve La...",5.8,5.50,6.0,3,Sasha is a young vampire with a serious proble...,NaN,0,0,0,0,0
41395,232893,Addio al nubilato 2,2023,Comedy,90,Italy,Francesco Apolloni,"Laura Chiatti, Chiara Francini, Antonia Liskov...",2.7,NaN,3.0,3,"When Eleonora is downloaded to the altar, her ...",Bachelorette fare sequel (2021).,0,0,0,0,0

In [24]:
#multiple conditions
mc=df.loc[(df['genre']=='Drama') & (df['avg_vote']>6.0)]
mc

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
1,3,18 anni tra una settimana,1991,Drama,98,Italy,Luigi Perelli,"Kim Rossi Stuart, Simona Cavallari, Ennio Fant...",6.5,6.00,7.0,4,"Samantha, not yet eighteen, leaves the comfort...","Luigi Perelli, the director of the ""Piovra"", o...",0,2,0,2,0
6,22,A ciascuno il suo,1967,Drama,93,Italy,Elio Petri,"Gian Maria Volonté, Irene Papas, Gabriele Ferz...",7.6,7.68,7.0,139,Investigations into two murders committed in a...,"Champion of the cinema of civil commitment, El...",0,2,3,3,1
9,26,At Close Range,1986,Drama,115,United States,James Foley,"Christopher Walken, Sean Penn, Chris Penn, Mar...",7.5,7.64,7.0,90,Young Brad (Penn) lives with his grandmother a...,"Powerful and brutal thriller, second work by J...",1,3,2,4,2
18,49,Fail-Safe,1964,Drama,110,United States,Sidney Lumet,"Henry Fonda, Dan O'Herlihy, Walter Matthau, Do...",8.2,8.20,8.0,73,When the US strategic air command is alerted t...,"With this film Lumet returns great, after a pe...",0,3,3,3,0
30,70,Can You Feel Me Dancing?,1986,Drama,120,United States,Michael Miller,"Justine Bateman, Jason Bateman, Max Gail, Joe ...",8.0,6.00,10.0,3,"Karin Nichols, blind since birth, no longer st...","Based on a true story, it is a film for televi...",0,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41364,229828,The Red Suitcase,2023,Drama,87,"Nepal, Sri Lanka",Fidel Devkota,"Saugat Malla, Prabin Khatiwada, Bipin Karki, S...",7.0,7.00,7.0,3,Numerous mysterious events follow one another ...,NaN,0,0,0,0,0
41366,229832,Magyarázat mindenre,2023,Drama,151,"Hungary, Slovakia",Gábor Reisz,"Adonyi-Walsh Gáspár, István Znamenák, András R...",7.3,7.33,7.0,6,"A realistic portrait of a divided country, Hun...",NaN,0,0,0,0,0
41367,229835,Hokage,2023,Drama,95,Japan,Shinya Tsukamoto,"Shuri, Ouga Tsukao, Hiroki Kono",6.4,6.75,6.0,5,The consequences of the war on human beings: a...,NaN,0,0,0,0,0
41368,229838,Tereddüt Çizgisi,2023,Drama,84,"Turkey, France, Romania, Spain",Selman Nacar,"Tülin Özen, Görkem Ipek",7.0,7.00,7.0,3,All over a day. A criminal lawyer is awaiting ...,NaN,0,0,0,0,0
41390,232203,Mes petites amoureuses,1974,Drama,123,France,Jean Eustache,"Martin Loeb, Jacqueline Dufranne, Jacques Roma...",8.3,8.50,8.0,3,Daniel is a silent boy who observes girls with...,NaN,0,0,0,0,0

#iloc:-
While df.loc uses labels for indexing, df.iloc allows for integer-based indexing.
You use df.iloc to access rows and columns by their integer positions,
which makes it useful when you need to access data by its position in the DataFrame.

In [25]:
#single row from data frame
sr=df.iloc[1]
sr

filmtv_id                                                       3
title                                   18 anni tra una settimana
year                                                         1991
genre                                                       Drama
duration                                                       98
country                                                     Italy
directors                                           Luigi Perelli
actors          Kim Rossi Stuart, Simona Cavallari, Ennio Fant...
avg_vote                                                      6.5
critics_vote                                                  6.0
public_vote                                                   7.0
total_votes                                                     4
description     Samantha, not yet eighteen, leaves the comfort...
notes           Luigi Perelli, the director of the "Piovra", o...
humor                                                           0
rhythm                                                          2
effort                                                          0
tension                                                         2
erotism                                                         0
Name: 1, dtype: object

In [27]:
#selecting specific row and columns by integer indices
sd=df.iloc[10,[2,3,4]]  #row at 10 index and column at 2,3,4
sd

year             1968
genre       Adventure
duration          101
Name: 10, dtype: object

In [28]:
#slicing to get specific rows and columns
ms=df.iloc[10:15,0:4]
ms

    filmtv_id                                 title  year        genre
10         30             A Ghentar si muore facile  1968    Adventure
11         32               Sleeping with the Enemy  1990        Drama
12         34                   In Bed With Madonna  1990  Documentary
13         36                    Bowery at Midnight  1942       Horror
14         37  A mezzanotte va la ronda del piacere  1975       Comedy

In [29]:
#df.at:-
#acessing a specific single value using row label and column name
x=df.at[0,'title']
x

"Bugs Bunny's Third Movie: 1001 Rabbit Tales"

In [30]:
#filtering based on criteria:-
y=df[df['year']>2010]
y

,filmtv_id,title,year,genre,duration,country,directors,actors,avg_vote,critics_vote,public_vote,total_votes,description,notes,humor,rhythm,effort,tension,erotism
22817,39955,The Tree of Life,2011,Drama,138,United States,Terrence Malick,"Brad Pitt, Sean Penn, Jessica Chastain, Tye Sh...",7.4,7.43,7.0,476,"Jack, an eleven-year-old boy, lives in the Mid...","Beauty passes through cinema: the director, as...",0,2,4,2,0
23725,41448,Season of the Witch,2011,Adventure,95,United States,Dominic Sena,"Nicolas Cage, Claire Foy, Ron Perlman, Stephen...",4.3,4.13,4.0,153,"During the fourteenth century, when the black ...",Thrown to the wind the attempts to build a bar...,1,2,1,3,0
24186,42398,Restless,2011,Drama,95,United States,Gus Van Sant,"Mia Wasikowska, Schuyler Fisk, Jane Adams, Lus...",6.9,6.59,7.0,151,Enoch is a 17-year-old who lost both parents a...,The director of Last Days returns to spy on th...,2,2,3,1,0
24426,42847,Qualunquemente,2011,Grotesque,96,Italy,Giulio Manfredonia,"Antonio Albanese, Sergio Rubini, Lorenza Indov...",5.6,5.65,6.0,291,Cetto La Qualunque (Albanese) returns to Italy...,The grotesque and at times effective mask rema...,4,3,3,1,1
24427,42848,Una sconfinata giovinezza,2011,Drama,98,Italy,Pupi Avati,"Fabrizio Bentivoglio, Francesca Neri, Serena G...",6.7,6.60,7.0,95,Lino Settembre and his wife Chicca lead a peac...,"Written with the taste of a novelist's plot, i...",2,2,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41394,232817,Gold Digger Killer,2021,Thriller,87,"Canada, United States",Robin Hays,"Julie Benz, Roan Curtis, Georgia Bradner, Eli ...",4.0,NaN,4.0,3,Celeste is an attractive waitress in the forti...,Freely taken from a true story.,0,0,0,0,0
41395,232893,Addio al nubilato 2,2023,Comedy,90,Italy,Francesco Apolloni,"Laura Chiatti, Chiara Francini, Antonia Liskov...",2.7,NaN,3.0,3,"When Eleonora is downloaded to the altar, her ...",Bachelorette fare sequel (2021).,0,0,0,0,0
41396,232915,Konferensen,2023,Horror,100,Sweden,Patrik Eklund,"Katia Winter, Eva Melander, Lola Zackow, Adam ...",6.0,NaN,6.0,6,A team building conference organized for a gro...,NaN,0,0,0,0,0
41397,232919,Ballelina,2023,Thriller,92,South Korea,Chung-Hyun Lee,"Jeon Jong-seo, Park Yu-rim, Ji-hun Kim",5.8,NaN,6.0,5,Once Ok-Ju worked as a bodyguard and was one o...,NaN,0,0,0,0,0
41398,232920,Invitación a un Asesinato,2023,Thriller,92,Mexico,J.M Cravioto,"Maribel Verdú, Stephanie Cayo, Manolo Cardona,...",6.0,NaN,6.0,3,A great passionate of crime stories is trapped...,NaN,0,0,0,0,0

In [8]:
#Renaming(can be done for both column names and index)
df=pd.DataFrame({
    "Name":["A","B"],
    "Age":[20,21]})
print(df)
print(df.rename(columns={"Name":"Student_Name"}))

df1=pd.DataFrame(
    {"Name":["A","B"],
     "Age":[23,25]},index=["row1","row2"])
print(df1)
print(df1.rename(index={"row1":"r1","row2":"r2"}))

  Name  Age
0    A   20
1    B   21
  Student_Name  Age
0            A   20
1            B   21
     Name  Age
row1    A   23
row2    B   25
   Name  Age
r1    A   23
r2    B   25

In [10]:
df = pd.DataFrame({"Marks": ["80", "90"]})
df["Marks"] = df["Marks"].astype(int)
df

   Marks
0     80
1     90